{% extends 'blog/base.html' %}

    
{% block body_block %}
 	{% for post in all_posts %}
		<div class="post">
			<div class="date">
				<p>published: {{ post.published_date|date:'d-m-Y' }}</p>
			</div>
			<h2><a href="{% url 'blog:show-post' post.pk %}">{{ post.title }}</a></h2>
			<p>{{ post.text|linebreaksbr }}</p>
			<a href="{% url 'blog:show-post' primary_key=post.pk %}">Comments: {{ post.approved_comments.count }}</a>
		</div>
	{% endfor %}
{% endblock %}






<!--     	<div class="page-header">
    		<h1><a href="/">Django Girls Blog</a></h1>
		</div>
		{% for post in all_posts %}
		    <div class="post">
		        <p>published: {{ post.published_date }}</p>
		        <h2><a href="">{{ post.title }}</a></h2>
		        <p>{{ post.text|linebreaksbr }}</p>
		    </div>
		{% endfor %} -->






<!-- {% load static %}
<!DOCTYPE html>

<html>
<head>
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
	<link rel="stylesheet" href="{% static 'css/blog.css' %}">

	<title>POSTS</title>
	
</head>
<body>
	<a href="https://en.wikipedia.org/wiki/Django" class="external_link" id="link_to_wiki_page">wiki</a>
	<h1>
		<strong>
			ALL the Posts Listed Below
		</strong>
	</h1>  
	<br>
	<br>
	{% for post in all_posts %}
		<li> 
			<strong>
				Author: {{ post.author }}
			</strong>
			<ul><strong>title: </strong>  <a href="/">{{ post.title }}</a></ul>
			<ul><strong>text: </strong>{{ post.text }}</ul>
			<ul><strong>created: </strong> {{post.created_date }}</ul>
			<ul><strong>published: </strong> {{post.published_date }}</ul>
		</li>	
			
	{% endfor %}

</body>


</html> -->

