{% extends 'blog/base.html' %}


{% block body_block %}
	<div class="post">

		{% if single_post.published_date %}
		<div class="date">
				<p>published: {{ single_post.published_date }}</p>
		</div>
		{% endif %}
		{% if user.is_authenticated %}
		<a class="btn btn-default" href="{% url 'blog:edit-post' primary_key=single_post.pk %}">Edit <span class="glyphicon glyphicon-pencil"></span></a>

		<a class="btn btn-primary" href="{% url 'blog:post-publish' pk=single_post.pk %}">Publish</a>

		<a class="btn btn-danger" href="{% url 'blog:post-remove' pk=single_post.pk %}">Delete <span class="glyphicon glyphicon-remove"></span></a>
		{% endif %}
		<h2><a href="">{{ single_post.title }}</h2>
		<p>{{ single_post.text|linebreaksbr }}</p>
	</div>

<!-- 	<div class='comment'>
		<form method="post", action="#">
			{% csrf_token %}
			
			<input type="text" name="author" value="Name"><br>
			<textarea rows="4" cols="90">Your Comment goes Here..</textarea><br>
			<input type="submit" class="save btn btn-primary">
		</form>
	</div>
 -->
 <hr>
	{% for comment in single_post.comments.all %}
		{% if user.is_authenticated or comment.approved_comment %}
			<div class="comment">
			<div class="date">
				{{ comment.created_date }}
			
				{% if not comment.approved_comment %}
					<a class="btn btn-default" href="{% url 'blog:comment-remove' pk_comment=comment.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
					<a class="btn btn-default" href="{% url 'blog:comment-approve' pk_comment=comment.pk %}"><span class="glyphicon glyphicon-ok"></span></a>
				{% endif %}
			</div>
			<strong>{{ comment.author }}</strong>
			<p>{{ comment.text|linebreaks }}</p>
			</div>

		{% endif %}

	{% empty %}
	<a class="btn btn-default" href="{% url 'blog:add-comment' primary_key=single_post.pk %}">Add</a>
		<p>No comments here yet :(</p>
	{% endfor %}
{% endblock %}